{{#this}}
<li class="countryList">
    <img class="countryList_flag" src="{{flags.svg}}" alt="{{name.official}} width = "80px" height = "50px">
    <p class="countryList_name" >{{name.official}}</p>
</li>
{{/this}}